/*

    Name:       Base16 Isotope Light
    Author:     Jan T. Sott

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-isotope-light.CodeMirror {background: #ffffff; color: #404040;}
.cm-s-base16-isotope-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-isotope-light .CodeMirror-gutters {background: #ffffff; border-right: 0px;}
.cm-s-base16-isotope-light .CodeMirror-linenumber {color: #c0c0c0;}
.cm-s-base16-isotope-light .CodeMirror-cursor {border-left: 1px solid #808080 !important;}

.cm-s-base16-isotope-light span.cm-comment {color: #3300ff;}
.cm-s-base16-isotope-light span.cm-atom {color: #cc00ff;}
.cm-s-base16-isotope-light span.cm-number {color: #cc00ff;}

.cm-s-base16-isotope-light span.cm-property, .cm-s-base16-isotope-light span.cm-attribute {color: #33ff00;}
.cm-s-base16-isotope-light span.cm-keyword {color: #ff0000;}
.cm-s-base16-isotope-light span.cm-string {color: #ff0099;}

.cm-s-base16-isotope-light span.cm-variable {color: #33ff00;}
.cm-s-base16-isotope-light span.cm-variable-2 {color: #0066ff;}
.cm-s-base16-isotope-light span.cm-def {color: #ff9900;}
.cm-s-base16-isotope-light span.cm-error {background: #ff0000; color: #808080;}
.cm-s-base16-isotope-light span.cm-bracket {color: #404040;}
.cm-s-base16-isotope-light span.cm-tag {color: #ff0000;}
.cm-s-base16-isotope-light span.cm-link {color: #cc00ff;}

.cm-s-base16-isotope-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

#open-files-container a {
    color: #000000;
}
#open-files-container .extension, #open-files-container .directory {
    color: #808080;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #00ffff;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #404040;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #000000;
}

#project-files-header { 
    border-top: 1px solid #808080;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #ff0099!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #404040;
    color: #33ff00;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#404040;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #404040;
}
.jstree-brackets li.git-ignored {
    color: #808080;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #0066ff;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #00ffff;
}
.jstree-brackets li a {
    color: #000000;
}
.jstree-brackets li .extension {
    color: #404040;
}

.cm-s-base16-isotope-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #000000 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #404040;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 14px;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #000000;
}
#status-file {
    color: #404040;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 13px;
    color: #404040;
}

.toolbar .nav .dropdown-toggle:hover {
    color: inherit;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}

.cm-s-base16-isotope-dark {
    font-family: "Envy Code R";
    font-size: 10pt;
}
