/*

    Name:       Base16 shapeshifter Dark
    Author:     Tyler Benziger (http://tybenz.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-shapeshifter-dark.CodeMirror {background: #000000; color: #e0e0e0;}
.cm-s-base16-shapeshifter-dark div.CodeMirror-selected {background: #040404 !important;}
.cm-s-base16-shapeshifter-dark .CodeMirror-gutters {background: #000000; border-right: 0px;}
.cm-s-base16-shapeshifter-dark .CodeMirror-linenumber {color: #343434;}
.cm-s-base16-shapeshifter-dark .CodeMirror-cursor {border-left: 1px solid #f9f9f9 !important;}

.cm-s-base16-shapeshifter-dark span.cm-comment {color: #69542d;}
.cm-s-base16-shapeshifter-dark span.cm-atom {color: #f996e2;}
.cm-s-base16-shapeshifter-dark span.cm-number {color: #f996e2;}

.cm-s-base16-shapeshifter-dark span.cm-property, .cm-s-base16-shapeshifter-dark span.cm-attribute {color: #0ed839;}
.cm-s-base16-shapeshifter-dark span.cm-keyword {color: #e92f2f;}
.cm-s-base16-shapeshifter-dark span.cm-string {color: #dddd13;}

.cm-s-base16-shapeshifter-dark span.cm-variable {color: #0ed839;}
.cm-s-base16-shapeshifter-dark span.cm-variable-2 {color: #3b48e3;}
.cm-s-base16-shapeshifter-dark span.cm-def {color: #e09448;}
.cm-s-base16-shapeshifter-dark span.cm-error {background: #e92f2f; color: #000000!important;}
.cm-s-base16-shapeshifter-dark span.cm-bracket {color: #e0e0e0;}
.cm-s-base16-shapeshifter-dark span.cm-tag {color: #e92f2f;}
.cm-s-base16-shapeshifter-dark span.cm-link {color: #f996e2;}

.cm-s-base16-shapeshifter-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-shapeshifter-dark .CodeMirror-matchingtag { background: #040404;}

#open-files-container a {
    color: #f9f9f9;
}
#open-files-container .extension, #open-files-container .directory {
    color: #555555;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #23edda;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #e0e0e0;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #000000;
}

#project-files-header { 
    border-top: 1px solid #343434;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #dddd13!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #040404;
    color: #0ed839;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#040404;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #040404;
}
.jstree-brackets li.git-ignored {
    color: #555555 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #3b48e3 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #23edda;
}
.jstree-brackets li a {
    color: #f9f9f9;
}
.jstree-brackets li .extension {
    color: #e0e0e0;
}

.cm-s-base16-shapeshifter-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #f9f9f9 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #040404;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #f9f9f9;
}
#status-file {
    color: #e0e0e0;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #e0e0e0;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #23edda;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
