/*

    Name:       Base16 Green Screen Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-greenscreen-dark.CodeMirror {background: #001100; color: #00dd00;}
.cm-s-base16-greenscreen-dark div.CodeMirror-selected {background: #003300 !important;}
.cm-s-base16-greenscreen-dark .CodeMirror-gutters {background: #001100; border-right: 0px;}
.cm-s-base16-greenscreen-dark .CodeMirror-linenumber {color: #007700;}
.cm-s-base16-greenscreen-dark .CodeMirror-cursor {border-left: 1px solid #00ff00 !important;}

.cm-s-base16-greenscreen-dark span.cm-comment {color: #005500;}
.cm-s-base16-greenscreen-dark span.cm-atom {color: #00bb00;}
.cm-s-base16-greenscreen-dark span.cm-number {color: #00bb00;}

.cm-s-base16-greenscreen-dark span.cm-property, .cm-s-base16-greenscreen-dark span.cm-attribute {color: #00bb00;}
.cm-s-base16-greenscreen-dark span.cm-keyword {color: #007700;}
.cm-s-base16-greenscreen-dark span.cm-string {color: #007700;}

.cm-s-base16-greenscreen-dark span.cm-variable {color: #00bb00;}
.cm-s-base16-greenscreen-dark span.cm-variable-2 {color: #009900;}
.cm-s-base16-greenscreen-dark span.cm-def {color: #009900;}
.cm-s-base16-greenscreen-dark span.cm-error {background: #007700; color: #001100!important;}
.cm-s-base16-greenscreen-dark span.cm-bracket {color: #00dd00;}
.cm-s-base16-greenscreen-dark span.cm-tag {color: #007700;}
.cm-s-base16-greenscreen-dark span.cm-link {color: #00bb00;}

.cm-s-base16-greenscreen-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-greenscreen-dark .CodeMirror-matchingtag { background: #003300;}

#open-files-container a {
    color: #00ff00;
}
#open-files-container .extension, #open-files-container .directory {
    color: #009900;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #005500;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #00dd00;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #001100;
}

#project-files-header { 
    border-top: 1px solid #007700;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #007700!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #003300;
    color: #00bb00;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#003300;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #003300;
}
.jstree-brackets li.git-ignored {
    color: #009900 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #009900 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #005500;
}
.jstree-brackets li a {
    color: #00ff00;
}
.jstree-brackets li .extension {
    color: #00dd00;
}

.cm-s-base16-greenscreen-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #00ff00 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #003300;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #00ff00;
}
#status-file {
    color: #00dd00;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #00dd00;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #005500;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
