/*

    Name:       Base16 Marrakesh Light
    Author:     Alexandre Gavioli (http://github.com/Alexx2/)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-marrakesh-light.CodeMirror {background: #faf0a5; color: #302e00;}
.cm-s-base16-marrakesh-light div.CodeMirror-selected {background: #ccc37a !important;}
.cm-s-base16-marrakesh-light .CodeMirror-gutters {background: #faf0a5; border-right: 0px;}
.cm-s-base16-marrakesh-light .CodeMirror-linenumber {color: #86813b;}
.cm-s-base16-marrakesh-light .CodeMirror-cursor {border-left: 1px solid #201602 !important;}

.cm-s-base16-marrakesh-light span.cm-comment {color: #b3588e;}
.cm-s-base16-marrakesh-light span.cm-atom {color: #8868b3;}
.cm-s-base16-marrakesh-light span.cm-number {color: #8868b3;}

.cm-s-base16-marrakesh-light span.cm-property, .cm-s-base16-marrakesh-light span.cm-attribute {color: #18974e;}
.cm-s-base16-marrakesh-light span.cm-keyword {color: #c35359;}
.cm-s-base16-marrakesh-light span.cm-string {color: #a88339;}

.cm-s-base16-marrakesh-light span.cm-variable {color: #18974e;}
.cm-s-base16-marrakesh-light span.cm-variable-2 {color: #477ca1;}
.cm-s-base16-marrakesh-light span.cm-def {color: #b36144;}
.cm-s-base16-marrakesh-light span.cm-error {background: c35359; color: #201602!important;}

.cm-s-base16-marrakesh-light span.cm-bracket {color: #302e00;}
.cm-s-base16-marrakesh-light span.cm-tag {color: #c35359;}
.cm-s-base16-marrakesh-light span.cm-link {color: #8868b3;}

.cm-s-base16-marrakesh-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-marrakesh-light .CodeMirror-matchingtag { background: #ccc37a;}

#open-files-container a {
    color: #201602;
}
#open-files-container .extension, #open-files-container .directory {
    color: #6c6823;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #75a738;
} 

#working-set-header,#project-files-header, #open-files-container{
    background: rgba(0,0,0,0.12); 
    color: #302e00;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #faf0a5;
}

#project-files-header { 
    border-top: 1px solid #6c6823;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #a88339!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #302e00;
    color: #18974e;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#302e00;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #302e00;
}
.jstree-brackets li.git-ignored {
    color: #6c6823 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #477ca1 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #75a738;
}
.jstree-brackets li a {
    color: #201602;
}
.jstree-brackets li .extension {
    color: #302e00;
}

.cm-s-base16-marrakesh-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #201602 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #948e48;
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#status-info,
#status-indicators * {
    color: #201602;
}
#status-file {
    color: #302e00;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #302e00;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #75a738;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
