/*

    Name:       Base16 Atelier Heath Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/heath)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-atelierheath-dark.CodeMirror {background: #1b181b; color: #d8cad8;}
.cm-s-base16-atelierheath-dark div.CodeMirror-selected {background: #292329 !important;}
.cm-s-base16-atelierheath-dark .CodeMirror-gutters {background: #1b181b; border-right: 0px;}
.cm-s-base16-atelierheath-dark .CodeMirror-linenumber {color: #776977;}
.cm-s-base16-atelierheath-dark .CodeMirror-cursor {border-left: 1px solid #f7f3f7 !important;}

.cm-s-base16-atelierheath-dark span.cm-comment {color: #cc33cc;}
.cm-s-base16-atelierheath-dark span.cm-atom {color: #7b59c0;}
.cm-s-base16-atelierheath-dark span.cm-number {color: #7b59c0;}

.cm-s-base16-atelierheath-dark span.cm-property, .cm-s-base16-atelierheath-dark span.cm-attribute {color: #379a37;}
.cm-s-base16-atelierheath-dark span.cm-keyword {color: #ca402b;}
.cm-s-base16-atelierheath-dark span.cm-string {color: #bb8a35;}

.cm-s-base16-atelierheath-dark span.cm-variable {color: #379a37;}
.cm-s-base16-atelierheath-dark span.cm-variable-2 {color: #516aec;}
.cm-s-base16-atelierheath-dark span.cm-def {color: #a65926;}
.cm-s-base16-atelierheath-dark span.cm-error {background: transparent; text-decoration: underline; text-decoration-style: wavy; text-decoration-color: #ca402b; color: #9e8f9e;}
.cm-s-base16-atelierheath-dark span.cm-bracket {color: #d8cad8;}
.cm-s-base16-atelierheath-dark span.cm-tag {color: #ca402b;}
.cm-s-base16-atelierheath-dark span.cm-link {color: #7b59c0;}

.cm-s-base16-atelierheath-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-atelierheath-dark .CodeMirror-matchingtag { background: #292329;}

#open-files-container a {
    color: #f7f3f7;
}
#open-files-container .extension, #open-files-container .directory {
    color: #9e8f9e;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #159393;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #d8cad8;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #1b181b;
}

#project-files-header { 
    border-top: 1px solid #776977;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #bb8a35!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #292329;
    color: #379a37;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#292329;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #292329;
}
.jstree-brackets li.git-ignored {
    color: #9e8f9e !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #516aec !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #159393;
}
.jstree-brackets li a {
    color: #f7f3f7;
}
.jstree-brackets li .extension {
    color: #d8cad8;
}

.cm-s-base16-atelierheath-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #f7f3f7 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #292329;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #f7f3f7;
}
#status-file {
    color: #d8cad8;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #d8cad8;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #159393;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
