/*

    Name:       Base16 Atelier Forest Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-atelierforest-dark.CodeMirror {background: #1b1918; color: #e6e2e0;}
.cm-s-base16-atelierforest-dark div.CodeMirror-selected {background: #2c2421 !important;}
.cm-s-base16-atelierforest-dark .CodeMirror-gutters {background: #1b1918; border-right: 0px;}
.cm-s-base16-atelierforest-dark .CodeMirror-linenumber {color: #766e6b;}
.cm-s-base16-atelierforest-dark .CodeMirror-cursor {border-left: 1px solid #f1efee !important;}

.cm-s-base16-atelierforest-dark span.cm-comment {color: #c33ff3;}
.cm-s-base16-atelierforest-dark span.cm-atom {color: #6666ea;}
.cm-s-base16-atelierforest-dark span.cm-number {color: #6666ea;}

.cm-s-base16-atelierforest-dark span.cm-property, .cm-s-base16-atelierforest-dark span.cm-attribute {color: #5ab738;}
.cm-s-base16-atelierforest-dark span.cm-keyword {color: #f22c40;}
.cm-s-base16-atelierforest-dark span.cm-string {color: #d5911a;}

.cm-s-base16-atelierforest-dark span.cm-variable {color: #5ab738;}
.cm-s-base16-atelierforest-dark span.cm-variable-2 {color: #407ee7;}
.cm-s-base16-atelierforest-dark span.cm-def {color: #df5320;}
.cm-s-base16-atelierforest-dark span.cm-error {background: transparent; text-decoration: underline; text-decoration-style: wavy; text-decoration-color: #f22c40; color: #9c9491;}
.cm-s-base16-atelierforest-dark span.cm-bracket {color: #e6e2e0;}
.cm-s-base16-atelierforest-dark span.cm-tag {color: #f22c40;}
.cm-s-base16-atelierforest-dark span.cm-link {color: #6666ea;}

.cm-s-base16-atelierforest-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-atelierforest-dark .CodeMirror-matchingtag { background: #2c2421;}

#open-files-container a {
    color: #f1efee;
}
#open-files-container .extension, #open-files-container .directory {
    color: #9c9491;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #00ad9c;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #e6e2e0;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #1b1918;
}

#project-files-header { 
    border-top: 1px solid #766e6b;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #d5911a!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #2c2421;
    color: #5ab738;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#2c2421;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #2c2421;
}
.jstree-brackets li.git-ignored {
    color: #9c9491 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #407ee7 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #00ad9c;
}
.jstree-brackets li a {
    color: #f1efee;
}
.jstree-brackets li .extension {
    color: #e6e2e0;
}

.cm-s-base16-atelierforest-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #f1efee !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #2c2421;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #f1efee;
}
#status-file {
    color: #e6e2e0;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #e6e2e0;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #00ad9c;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
