/*

    Name:       Base16 Monokai Dark
    Author:     Wimer Hazenberg (http://www.monokai.nl)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-monokai-dark.CodeMirror {background: #272822; color: #f5f4f1;}
.cm-s-base16-monokai-dark div.CodeMirror-selected {background: #383830 !important;}
.cm-s-base16-monokai-dark .CodeMirror-gutters {background: #272822; border-right: 0px;}
.cm-s-base16-monokai-dark .CodeMirror-linenumber {color: #75715e;}
.cm-s-base16-monokai-dark .CodeMirror-cursor {border-left: 1px solid #f9f8f5 !important;}

.cm-s-base16-monokai-dark span.cm-comment {color: #cc6633;}
.cm-s-base16-monokai-dark span.cm-atom {color: #ae81ff;}
.cm-s-base16-monokai-dark span.cm-number {color: #ae81ff;}

.cm-s-base16-monokai-dark span.cm-property, .cm-s-base16-monokai-dark span.cm-attribute {color: #a6e22e;}
.cm-s-base16-monokai-dark span.cm-keyword {color: #f92672;}
.cm-s-base16-monokai-dark span.cm-string {color: #f4bf75;}

.cm-s-base16-monokai-dark span.cm-variable {color: #a6e22e;}
.cm-s-base16-monokai-dark span.cm-variable-2 {color: #66d9ef;}
.cm-s-base16-monokai-dark span.cm-def {color: #fd971f;}
.cm-s-base16-monokai-dark span.cm-error {background: #f92672; color: #272822!important;}
.cm-s-base16-monokai-dark span.cm-bracket {color: #f5f4f1;}
.cm-s-base16-monokai-dark span.cm-tag {color: #f92672;}
.cm-s-base16-monokai-dark span.cm-link {color: #ae81ff;}

.cm-s-base16-monokai-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-monokai-dark .CodeMirror-matchingtag { background: #383830;}

#open-files-container a {
    color: #f9f8f5;
}
#open-files-container .extension, #open-files-container .directory {
    color: #a59f85;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #a1efe4;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #f5f4f1;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #272822;
}

#project-files-header { 
    border-top: 1px solid #75715e;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #f4bf75!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #383830;
    color: #a6e22e;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#383830;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #383830;
}
.jstree-brackets li.git-ignored {
    color: #a59f85 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #66d9ef !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #a1efe4;
}
.jstree-brackets li a {
    color: #f9f8f5;
}
.jstree-brackets li .extension {
    color: #f5f4f1;
}

.cm-s-base16-monokai-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #f9f8f5 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #383830;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #f9f8f5;
}
#status-file {
    color: #f5f4f1;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #f5f4f1;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #a1efe4;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
