/*

    Name:       Base16 Ocean Dark
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-ocean-dark.CodeMirror {background: #2b303b; color: #dfe1e8;}
.cm-s-base16-ocean-dark div.CodeMirror-selected {background: #343d46 !important;}
.cm-s-base16-ocean-dark .CodeMirror-gutters {background: #2b303b; border-right: 0px;}
.cm-s-base16-ocean-dark .CodeMirror-linenumber {color: #65737e;}
.cm-s-base16-ocean-dark .CodeMirror-cursor {border-left: 1px solid #a7adba !important;}

.cm-s-base16-ocean-dark span.cm-comment {color: #ab7967;}
.cm-s-base16-ocean-dark span.cm-atom {color: #b48ead;}
.cm-s-base16-ocean-dark span.cm-number {color: #b48ead;}

.cm-s-base16-ocean-dark span.cm-property, .cm-s-base16-ocean-dark span.cm-attribute {color: #a3be8c;}
.cm-s-base16-ocean-dark span.cm-keyword {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-string {color: #ebcb8b;}

.cm-s-base16-ocean-dark span.cm-variable {color: #a3be8c;}
.cm-s-base16-ocean-dark span.cm-variable-2 {color: #8fa1b3;}
.cm-s-base16-ocean-dark span.cm-def {color: #d08770;}
.cm-s-base16-ocean-dark span.cm-error {background: #bf616a; color: #a7adba;}
.cm-s-base16-ocean-dark span.cm-bracket {color: #dfe1e8;}
.cm-s-base16-ocean-dark span.cm-tag {color: #bf616a;}
.cm-s-base16-ocean-dark span.cm-link {color: #b48ead;}

.cm-s-base16-ocean-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}

#open-files-container a {
    color: #eff1f5;
}
#open-files-container .extension, #open-files-container .directory {
    color: #a7adba;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #96b5b4;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #dfe1e8;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #2b303b;
}

#project-files-header { 
    border-top: 1px solid #65737e;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #ebcb8b!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #343d46;
    color: #a3be8c;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#343d46;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #343d46;
}
.jstree-brackets li.git-ignored {
    color: #a7adba !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #8fa1b3 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #96b5b4;
}
.jstree-brackets li a {
    color: #eff1f5;
}
.jstree-brackets li .extension {
    color: #dfe1e8;
}

.cm-s-base16-ocean-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #eff1f5 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #343d46;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #eff1f5;
}
#status-file {
    color: #dfe1e8;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #dfe1e8;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #96b5b4;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
