/*

    Name:       Base16 Atelier Dune Dark
    Author:     Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-atelierdune-dark.CodeMirror {background: #20201d; color: #e8e4cf;}
.cm-s-base16-atelierdune-dark div.CodeMirror-selected {background: #292824 !important;}
.cm-s-base16-atelierdune-dark .CodeMirror-gutters {background: #20201d; border-right: 0px;}
.cm-s-base16-atelierdune-dark .CodeMirror-linenumber {color: #7d7a68;}
.cm-s-base16-atelierdune-dark .CodeMirror-cursor {border-left: 1px solid #fefbec !important;}

.cm-s-base16-atelierdune-dark span.cm-comment {color: #d43552;}
.cm-s-base16-atelierdune-dark span.cm-atom {color: #b854d4;}
.cm-s-base16-atelierdune-dark span.cm-number {color: #b854d4;}

.cm-s-base16-atelierdune-dark span.cm-property, .cm-s-base16-atelierdune-dark span.cm-attribute {color: #60ac39;}
.cm-s-base16-atelierdune-dark span.cm-keyword {color: #d73737;}
.cm-s-base16-atelierdune-dark span.cm-string {color: #cfb017;}

.cm-s-base16-atelierdune-dark span.cm-variable {color: #60ac39;}
.cm-s-base16-atelierdune-dark span.cm-variable-2 {color: #6684e1;}
.cm-s-base16-atelierdune-dark span.cm-def {color: #b65611;}
.cm-s-base16-atelierdune-dark span.cm-error {background: transparent; text-decoration: underline; text-decoration-style: wavy; text-decoration-color: #d73737; color: #999580;}
.cm-s-base16-atelierdune-dark span.cm-bracket {color: #e8e4cf;}
.cm-s-base16-atelierdune-dark span.cm-tag {color: #d73737;}
.cm-s-base16-atelierdune-dark span.cm-link {color: #b854d4;}

.cm-s-base16-atelierdune-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-atelierdune-dark .CodeMirror-matchingtag { background: #292824;}

#open-files-container a {
    color: #fefbec;
}
#open-files-container .extension, #open-files-container .directory {
    color: #999580;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #1fad83;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #e8e4cf;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #20201d;
}

#project-files-header { 
    border-top: 1px solid #7d7a68;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #cfb017!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #292824;
    color: #60ac39;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#292824;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #292824;
}
.jstree-brackets li.git-ignored {
    color: #999580 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #6684e1 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #1fad83;
}
.jstree-brackets li a {
    color: #fefbec;
}
.jstree-brackets li .extension {
    color: #e8e4cf;
}

.cm-s-base16-atelierdune-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #fefbec !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #292824;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #fefbec;
}
#status-file {
    color: #e8e4cf;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #e8e4cf;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #1fad83;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
