/*

    Name:       Base16 Twilight Dark
    Author:     David Hart (http://hart-dev.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-twilight-dark.CodeMirror {background: #1e1e1e; color: #c3c3c3;}
.cm-s-base16-twilight-dark div.CodeMirror-selected {background: #323537 !important;}
.cm-s-base16-twilight-dark .CodeMirror-gutters {background: #1e1e1e; border-right: 0px;}
.cm-s-base16-twilight-dark .CodeMirror-linenumber {color: #5f5a60;}
.cm-s-base16-twilight-dark .CodeMirror-cursor {border-left: 1px solid #ffffff !important;}

.cm-s-base16-twilight-dark span.cm-comment {color: #9b703f;}
.cm-s-base16-twilight-dark span.cm-atom {color: #9b859d;}
.cm-s-base16-twilight-dark span.cm-number {color: #9b859d;}

.cm-s-base16-twilight-dark span.cm-property, .cm-s-base16-twilight-dark span.cm-attribute {color: #8f9d6a;}
.cm-s-base16-twilight-dark span.cm-keyword {color: #cf6a4c;}
.cm-s-base16-twilight-dark span.cm-string {color: #f9ee98;}

.cm-s-base16-twilight-dark span.cm-variable {color: #8f9d6a;}
.cm-s-base16-twilight-dark span.cm-variable-2 {color: #7587a6;}
.cm-s-base16-twilight-dark span.cm-def {color: #cda869;}
.cm-s-base16-twilight-dark span.cm-error {background: #cf6a4c; color: #1e1e1e!important;}
.cm-s-base16-twilight-dark span.cm-bracket {color: #c3c3c3;}
.cm-s-base16-twilight-dark span.cm-tag {color: #cf6a4c;}
.cm-s-base16-twilight-dark span.cm-link {color: #9b859d;}

.cm-s-base16-twilight-dark .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-twilight-dark .CodeMirror-matchingtag { background: #323537;}

#open-files-container a {
    color: #ffffff;
}
#open-files-container .extension, #open-files-container .directory {
    color: #838184;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #afc4db;
} 

#working-set-header,#project-files-header, #open-files-container{ /* Working files */
    background: rgba(0,0,0,0.12); 
    color: #c3c3c3;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #1e1e1e;
}

#project-files-header { 
    border-top: 1px solid #5f5a60;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #f9ee98!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #323537;
    color: #8f9d6a;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#323537;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #323537;
}
.jstree-brackets li.git-ignored {
    color: #838184 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #7587a6 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #afc4db;
}
.jstree-brackets li a {
    color: #ffffff;
}
.jstree-brackets li .extension {
    color: #c3c3c3;
}

.cm-s-base16-twilight-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #ffffff !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #323537;
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#titlebar .title-wrapper {
    display: none;
}

#status-info,
#status-indicators * {
    color: #ffffff;
}
#status-file {
    color: #c3c3c3;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #c3c3c3;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #afc4db;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
