/*

    Name:       Base16 3024 Light
    Author:     Jan T. Sott (http://github.com/idleberg)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Brackets additions by Michaël Ball (https://github.com/michael-ball)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

.cm-s-base16-3024-light.CodeMirror {background: #f7f7f7; color: #3a3432;}
.cm-s-base16-3024-light div.CodeMirror-selected {background: #d6d5d4 !important;}
.cm-s-base16-3024-light .CodeMirror-gutters {background: #f7f7f7; border-right: 0px;}
.cm-s-base16-3024-light .CodeMirror-linenumber {color: #807d7c;}
.cm-s-base16-3024-light .CodeMirror-cursor {border-left: 1px solid #090300 !important;}

.cm-s-base16-3024-light span.cm-comment {color: #cdab53;}
.cm-s-base16-3024-light span.cm-atom {color: #a16a94;}
.cm-s-base16-3024-light span.cm-number {color: #a16a94;}

.cm-s-base16-3024-light span.cm-property, .cm-s-base16-3024-light span.cm-attribute {color: #01a252;}
.cm-s-base16-3024-light span.cm-keyword {color: #db2d20;}
.cm-s-base16-3024-light span.cm-string {color: #fded02;}

.cm-s-base16-3024-light span.cm-variable {color: #01a252;}
.cm-s-base16-3024-light span.cm-variable-2 {color: #01a0e4;}
.cm-s-base16-3024-light span.cm-def {color: #e8bbd0;}
.cm-s-base16-3024-light span.cm-error {background: db2d20; color: #090300!important;}

.cm-s-base16-3024-light span.cm-bracket {color: #3a3432;}
.cm-s-base16-3024-light span.cm-tag {color: #db2d20;}
.cm-s-base16-3024-light span.cm-link {color: #a16a94;}

.cm-s-base16-3024-light .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-base16-3024-light .CodeMirror-matchingtag { background: #d6d5d4;}

#open-files-container a {
    color: #090300;
}
#open-files-container .extension, #open-files-container .directory {
    color: #5c5855;
}
#open-files-container li.selected a, #open-files-container li.selected a .extension {
    color: #b5e4f4;
} 

#working-set-header,#project-files-header, #open-files-container{
    background: rgba(0,0,0,0.12); 
    color: #3a3432;
}
#sidebar, #main-toolbar, #status-bar, .inline-widget{
    background: #f7f7f7;
}

#project-files-header { 
    border-top: 1px solid #5c5855;
}

#project-dropdown-toggle:hover{ /* Open url when hover */
    color: #fded02!important;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.05);
}
#status-bar{
    border-top:1px solid #3a3432;
    color: #01a252;
}

.sidebar-selection, .sidebar-selection-triangle{ /* Selected file or folder */
    background:#3a3432;
}
.sidebar-selection-triangle.triangle-visible::before{
    border-left:12px solid #3a3432;
}
.jstree-brackets li.git-ignored {
    color: #5c5855 !important;
}
.jstree-brackets li.jstree-closed>a, .jstree-brackets li.jstree-open>a,.git-close-not-modified i {
    color: #01a0e4 !important;
}
.jstree-brackets li a.jstree-clicked, .jstree-brackets li a.jstree-clicked .extension {
    color: #b5e4f4;
}
.jstree-brackets li a {
    color: #090300;
}
.jstree-brackets li .extension {
    color: #3a3432;
}

.cm-s-base16-3024-dark .CodeMirror-matchingbracket { text-decoration: underline; color: #090300 !important;}

#titlebar,
#status-bar,
#status-indicators,
#editor-holder #not-editor {
    background-color: #a5a2a2;
}

#titlebar {
    height: 20px;
}

.toolbar .nav .dropdown-toggle, .context-menu .dropdown-toggle, .codehint-menu .dropdown-toggle {
    font-weight: 500;
}

#status-info,
#status-indicators * {
    color: #090300;
}
#status-file {
    color: #3a3432;
}

.toolbar .nav .dropdown-toggle {
    padding: 2px 5px 1px !important;
    font-size: 12pt;
    color: #3a3432;
}

.toolbar .nav .dropdown-toggle:hover, .context-menu .dropdown-toggle:hover, .codehint-menu .dropdown-toggle:hover, .toolbar .nav .dropdown.open .dropdown-toggle, .context-menu .dropdown.open .dropdown-toggle, .codehint-menu .dropdown.open .dropdown-toggle {
    color: inherit;
    background: #b5e4f4;
}

.toolbar .nav .dropdown-menu {
    top: 23px;
}
